*.pyc
# .vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
__pycache__
data
align_outputs
tiny-cuda-nn
# weight
metric_depth_vit_giant2_800k.pth
model.safetensors
model.safetensors*
*.ply
*.pt